:root {
  --primary-bg-color: #1e1e1e;
  --secondary-bg-color: #373737;
  --primary-text-color: #d4d4d4;
  --primary-link-color: #dcdcaa;
  --primary-header-color: #e6e6e6;
  --header-wordmark-color: #ffffff;
  --primary-font-stack: "Raleway", sans-serif;
  --secondary-font-stack: "Zilla Slab", var(--primary-font-stack);
}

body.light {
  --primary-bg-color: #eceaea;
  --secondary-bg-color: #e2dbdb;
  --primary-text-color: #1e1e1e;
  --primary-link-color: rgb(190, 5, 21);
  --primary-header-color: #04343a;
}

*, *::before, *::after { box-sizing: border-box; }

html { min-width: 320px; }

body {
  margin: 0;
  padding: 0;

  background-color: var(--primary-bg-color);

  font-family: sans-serif;
  font-family: var(--primary-font-stack);
  font-size: 18px;
  line-height: 1.7;
  color: var(--primary-text-color);
}

h1, h2 {
  font-family: serif;
  font-family: var(--secondary-font-stack);
  font-weight: 600;
  color: var(--primary-header-color);
}

a {
  padding: 0.13em;
  color: rgb(15, 15, 92);
  color: var(--primary-link-color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  background-color: rgba(86, 156, 214, 0.25);
}

sup { font-size: 0.8rem; }

ul { list-style-type: none; }

li,
dd {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
li::before,
dd::before {
  content: "\25B6";
  margin-left: -1.3rem;
  margin-right: 0.4rem;
}

blockquote {
  padding-top: 0.7em;
  padding-right: 1.1em;
  padding-bottom: 0.5em;
  padding-left: 1.55em;
  margin-right: auto;
  margin-left: auto;
  width: 86%;

  border-left: 5px solid var(--primary-text-color);
  background-color: var(--secondary-bg-color);

  font-size: 0.95em;
  color: #f1f1f1;
}

blockquote * { display: inline; }

blockquote::before {
  position: absolute;
  font-style: italic;
  font-size: 3.4em;
  color: #979797;
  content: open-quote;
  margin-top: -0.5em;
  margin-left: -0.45em1
}

header {
  width: 100%;
  height: 10em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  background-color: var(--secondary-bg-color);
}

header #name {
  margin: 0;
  font-size: 3.7em;
  color: var(--header-wordmark-color);
}

header #title {
  margin: -1.25em 0 0 -0.8em;
  font-size: 1.5em;
  color: var(--header-wordmark-color);
}

header #logo {
  width: 110px;
  height: 110px;
  position: absolute;
  margin-top: 0.7em;
  margin-left: 8em;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.content {
  width: 85%;
  margin-right: auto;
  margin-left: auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content h2 { margin-bottom: -0.6em; }
.content section { flex-basis: 49%; }
.no-js #exp { display: none; }


footer {
  padding-bottom: 0.5em;
  text-align: center;
}

#ko-fi {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  transition: transform 0.1s ease-in-out;
}
#ko-fi:hover,
#ko-fi:focus,
#ko-fi:active {
  background-color: transparent;
  transform: scale(1.15);
}

@media (max-width: 800px) {
  header #name { font-size: 3em; }
  header #title { font-size: 1.2em; }

  header #logo {
    width: 95px;
    height: 95px;
    position: static;
    margin-top: -0.5em;
    margin-bottom: -2em;
  }

  .content section {
    flex-basis: -webkit-auto;
    flex-basis: auto;
  }

  #ko-fi {
    right: 0;
    bottom: 0;
  }
}
