  <meta name="theme-color" content="#3D3D3D">
  <link rel="apple-touch-icon-precomposed" sizes="192x192" href="apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" sizes="192x192" href="favicon.png">

  <!-- https://www.kirupa.com/random/two_things_to_make_your_content_more_shareable.htm-->
  <meta name="title" content="Caleb Ely | Web Developer">
  <meta name="description" content="Discover who Caleb is, what he does, and hire him for your next web development project!">
  <meta name="keywords" content="caleb ely,website developer,webdev,programming,programmer,python,javascript,php">

  <meta property="og:site_name" content="codetri.net">
  <meta property="og:type" content="website">

  <meta property="og:title" content="Caleb Ely | Web Developer">
  <meta property="og:url" content="https://codetri.net">
  <meta property="og:image" content="https://codetri.net/img/social-media-card.png">
  <meta property="og:description" content="Discover who Caleb is, what he does, and hire him for your next web development project!">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cely717">
  <meta name="twitter:creator" content="@cely717">
  <meta name="twitter:title" content="Caleb Ely | Web Developer">
  <meta name="twitter:description" content="Discover who Caleb is, what he does, and hire him for your next web development project!">
  <meta name="twitter:image:src" content="https://codetri.net/img/social-media-card.png">

