
  <!-- TODO Reference https://www.kirupa.com/random/two_things_to_make_your_content_more_shareable.htm-->
  <meta name="title" content="Caleb Ely | Web Developer">
  <meta name="description" content="Discover who Caleb is, what he does, and hire him for your next web development project!">
  <meta name="keywords" content="caleb ely,website developer,webdev,programming,programmer,python,javascript,php">

  <meta property="og:site_name" content="codetriangle.me">
  <meta property="og:type" content="website">

  <meta property="og:title" content="Caleb Ely | Web Developer">
  <meta property="og:url" content="http://codetriangle.me">
  <meta property="og:image" content="http://codetriangle.me/favicon.png">
  <meta property="og:description" content="Discover who Caleb is, what he does, and hire him for your next web development project!">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@_le717">
  <meta name="twitter:creator" content="@_le717">
  <meta name="twitter:title" content="Caleb Ely | Web Developer">
  <meta name="twitter:description" content="Discover who Caleb is, what he does, and hire him for your next web development project!">
  <meta name="twitter:image:src" content="http://codetriangle.me/favicon.png">

