// ------- Call-to-action button
.btn-cta {
  width: 12rem;
  display: inline-block;
  background-color: $color-accent-first;
  border-radius: 1px;

  @extend .text-center;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-text-primary;
    a { color: $color-accent-first; }
  }

  &.center { @include center-horizon; }

  & > a {
    width: inherit;
    font-size: 2em;
    color: $color-text-primary;
    @extend %no-link;
  }
}
