// ------- Source code styling
code, pre {
  @extend .text-left;
  font-family: $font-family-code;
}

pre {
  min-width: 16.5em;
  width: 90%;
  padding: 0.5em;
  overflow: auto;
  background-color: $color-accent-first;
  color: $color-text-primary;
}
