// ------- Form styling
form {
  %styled-input {
    padding: 0.5em;

    max-width: 18em;
    flex: 1;

    border: none;
    box-shadow: none;
    border-radius: 0 1px 1px 0;

    background-color: $color-white;
    color: $color-text-primary;

    font-family: $font-stack;
    font-size: 1em;

    // TODO Need a good :focus styling
  }

  %styled-label {
    padding: 0.5em;
    border: none;
    border-radius: 1px 0 0 1px;

    background-color: $color-accent-first;
    color: $color-text-secondary;
  }

  .btn {
    margin: 0.5em;
    margin-left: 0;
    padding: 0.1em;

    display: inline-block;

    width: 4.5em;

    outline: none;
    border: none;
    border-radius: 1px;

    font-family: $font-stack;
    font-size: 1.4em;
    @extend .text-center;
    color: $color-text-primary;

    transition: color 0.2s ease, background-color 0.2s ease;
    cursor: pointer;

    &.submit {
      background-color: $color-text-primary;
      color: $color-accent-first;
    }

    &.cancel {
      background-color: #e31a1a;
      color: $color-accent-first;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $color-accent-first;
      color: $color-text-primary;
    }
  }

  // Custom checkbox and radio buttons
  // Sourced from http://www.inserthtml.com/2012/06/custom-form-radio-checkbox/
  @each $type in (checkbox, radio) {
    input[type="#{$type}"] {
      margin-left: -1.3em;
      visibility: hidden;

      & + label {
        padding: 0.6em;
        margin-right: 0.2em;

        display: inline-block;
        position: relative;
        vertical-align: text-top;

        border-radius: 1px;
        background-color: $color-accent-first;
        cursor: pointer;
      }
    }

    input[type="#{$type}"] + label:after {
      position: absolute;
      top: -2px;
      left: 0.25em;
      color: $color-text-primary;
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    input[type="#{$type}"] + label:focus:after,
    input[type="#{$type}"]:checked + label:focus:after,
    input[type="#{$type}"] + label:active:after,
    input[type="#{$type}"]:checked + label:active:after { opacity: 0.5; }
    input[type="#{$type}"]:checked + label:after { opacity: 1; }
  }

  // Checkbox symbol
  input[type="checkbox"] + label:after {
    font-size: 0.95em;
    content: "\2714";
  }

  // Raido button symbol
  input[type="radio"] + label:after {
    top: -5px;
    left: 4px;
    font-size: 1.1em;
    // TODO I cannot get this to work
    content: "\f1ef";
  }

  input[type="submit"],
  input[type="cancel"] {
    appearance: none;
    padding: 0.25em;
  }

  // Style the plain text inputs
  textarea { @extend %styled-input; }
  $formTypes: number, email, password, text;
  @each $type in $formTypes {
    input[type="#{$type}"] {
      @extend %styled-input;
    }
  }

  // Bot check
  span#not-person {
    position: relative;
    top: 1.4em;
  }

  .group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5em;

    // This group contains buttons
    &.btns { margin-top: 2em; }
  }


  // Prefixed form labels
  .input-before {
    @extend %styled-label;

    // For some reason, when prefixed to a textarea,
    // the box is 1px too large on the top and bottom.
    // This workaround (somehow) fixes that
    // TODO No it don't. There is now a very faint, dark line
    // on the top and bottom.
    &.textarea {
      border-top: 1px solid currentcolor;
      border-bottom: 1px solid currentcolor;
    }

    // Required label
    & > .required { color: #e31a1a; }
  }

  // Appended form labels
  .input-after {
    margin-top: 0.5em;
    margin-left: 3em;
    padding: 0 0.2em;
    position: absolute;

    background-color: #c51212;
    box-shadow: 0 0 2px $color-primary;

    &::before {
      content: "\25C0";
      color: #c51212;
      position: absolute;
      top: -0.15em;
      left: -0.8em;
      font-size: 1.1em;
    }
  }

    // Error message
  .error {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease,
      visibility 0s ease;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
