// ------- Site header
.header {
  width: 100%;
  height: 14em;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #name {
    margin: 0;
    font-size: 4em;
    color: $color-text-primary;
  }

  #title {
    margin: -1.25em 0 0 -0.8em;

    font-size: 1.8em;
    color: $color-text-primary;
  }

  #logo {
    width: 110px;
    height: 110px;

    position: absolute;
    margin-top: 0.7em;
    margin-left: 8em;

    // Logo color
    g { fill: $color-text-primary; }
  }
}
