// ------- Site header
.header {
  width: 100%;
  position: relative;

  #name {
    position: relative;
    bottom: 0.3em;
    right: 3.05em;
    font-size: 2.5em;
    color: $color-text-primary;

    @extend .text-right;
  }

  #title {
    position: absolute;
    top: 1.2em;
    right: 8.4rem;
    font-size: 1.3em;
    color: $color-text-primary;
  }

  #logo {
    width: 110px;
    height: 110px;

    position: fixed;
    top: 0.2em;
    right: 0.5em;

    // Logo color
    g { fill: $color-text-primary; }
  }
}
