// ------- Larger screen styling
@media (max-device-width: 1024px) {
  form .input-after { @include form-after-below; }
}

@media (min-device-width: 800px) {
  .header #logo {
    animation: aniLogo 3s infinite;

    // SVG logo color change
    g {
      transition: filter 0.2s linear, fill 0.2s linear;

      &.light {
        fill: $color-accent-first;
        filter: drop-shadow(10px 10px 6px $color-primary);
      }
    }
  }
}
