// ------- Larger screen styling
@media (max-device-width: 1024px) {
  form .input-after { @include form-after-below; }
}

@media (min-device-width: 800px) {
  .header #logo {
    transition: transform 0.8s linear;

    &.animate { transform: rotateX(180deg) rotateY(360deg); }

    // SVG logo color change
    g { transition: filter 0.2s linear, fill 0.2s linear; }
    &:hover g {
      fill: $color-accent-first;
      filter: drop-shadow(10px 9px 0 $color-primary);
      }
  }
}
