//------- Styled links
%link-effect {
  // Style adjustments
  &%no-hover {
    &::after { width: 0; }
  }

  &%no-link {
    &::after { display: none; }
  }

  &%reverse {
    &::after { width: 0; }
    &:hover, &:focus, &:active {
      &::after { width: 100%; }
    }
  }

  display: inline-block;
  color: #4edeea;

  &::after {
    content: "";
    display: block;
    background-color: currentColor;
    width: 100%;
    height: 2px;
    transition: width 0.2s ease;
  }

  &:hover,
  &:focus,
  &:active { @extend %no-hover; }
}
