// ------- Navigation bar styling
.navi {
  position: fixed;
  right: 6.4em;

  z-index: 2;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    position: inherit;
  }

  li { @extend .text-center; }

  // Nav icons
  .icon {
    font-size: 2.25em;
    @extend .text-center;
  }

  // Pop-up labels
  .text {
    margin-top: -0.9em;
    margin-bottom: -0.5em;

    display: block;
    visibility: hidden;

    font-size: 1.5em;
  }

  // Link styling
  a {
    text-shadow: 1px 1px 1px $color-primary;
    color: $color-accent-first;
    @extend .font-normal;

    &:hover,
    &:focus,
    &:active {
      color: $color-white;
      .text { visibility: visible; }
    }
  }
}
