// ------- Page section
.page-section {
  padding-top: 0.1em;
  padding-bottom: 1em;

  background-color: $color-primary;

  &:first-of-type { padding-bottom: 0.1em; }

  &.alt { background-color: $color-secondary; }

  a { @extend %link-effect; }

  // Large first letter
  .dropcap {
    margin-top: -1.4em;

    &::first-letter {
      line-height: 0.9;
      margin-right: 0.1em;
      font-family: $font-stack-slab;
      font-size: 2.1rem;
    }
  }

  & > .text-content {
    width: 77%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.03em;
    @extend .text-justify;
  }

  .emphasis {
    font-family: $font-stack-slab;
    font-size: 1.1rem;
    text-shadow: 0 0 5px $color-text-primary;
  }

  img { @extend %styled-images; }
}
