// ------- Commonly used values
$color-white: #fff;

$color-primary: #09222A;
$color-secondary: #1190cc;

$color-accent-first: #f1f1f1;
$color-accent-second: #cbaeae;

$color-text-primary: #3d3d3d;
$color-text-secondary: #615b5b;

$font-stack: "Roboto", "Open Sans", sans-serif;
$font-stack-slab: "Roboto Slab", $font-stack;
$font-family-code: "Ubuntu Mono", monospace;
