.content {
  @apply w-11/12;
  @apply mx-auto;

  @apply md:w-9/12;
}

.content .row {
  @apply w-full;
  @apply flex;
  @apply flex-col;

  @apply md:flex-row;
}

.content section {
  @apply w-full;

  @apply md:w-1/2;
}

/* Display the JS cald'd yrs of exp if it's possible */
body:not(.no-js) .exp-tag-nojs {
  @apply hidden;
}

/* Otherwise, display a static line of text */
.no-js .exp-tag-js {
  @apply hidden;
}

.content section:nth-child(even) {
  @apply md:ml-5;
}
.content section:nth-child(odd) {
  @apply md:mr-5;
}
