.content {
  width: 85%;
  @apply mx-auto;

  @apply flex;
  @apply flex-wrap;
  @apply justify-around;
}

.content section { flex-basis: 49%; }

@media (max-width: 800px) {
  .content section {
    flex-basis: auto;
  }
}