header {
  @apply w-full;
  height: 10em;

  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  background-color: var(--secondary-bg-color);
}

header #name {
  @apply m-0;
  @apply mb-1;
  @apply text-5xl;
  color: var(--header-wordmark-color);
}

header #title {
  @apply -mt-6;
  margin-left: -0.8em;
  @apply mr-0;
  @apply mb-0;
  @apply text-xl;
  color: var(--header-wordmark-color);
}

header #logo {
  @apply static;
  width: 95px;
  height: 95px;
  @apply -mt-2;
  @apply ml-32;
  @apply -mb-6;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

@screen md {
  header #name {
    @apply text-6xl;
  }

  header #title {
    @apply text-2xl;
    @apply -mt-8;
  }

  header #logo {
    @apply absolute;
    width: 110px;
    height: 110px;
    margin-top: 0.7em;
  }
}
