/* Ko-fi donate button */
#ko-fi {
  @apply bg-transparent;
  @apply shadow-none;
  @apply fixed;
  right: 0.25rem;
  bottom: 0.75rem;
  @apply transition-transform;
  @apply ease-in-out;
  @apply duration-100;
}
#ko-fi:hover,
#ko-fi:focus,
#ko-fi:active {
  @apply bg-transparent;
  @apply transform;
  @apply scale-110;
}

@screen md {
  #ko-fi {
    bottom: 1.5rem;
    right: 2rem;
  }
}
